.row.row-promo
  .promo-block.promo.pull-left{:style => "background:#d8e2dd"}
    %img.center-block.img-responsive.img-circle.promo-img{src: image_path("student-promo.png")}
    %p.text-center.promo-text
      %strong
        Вы студент?
      %ul
        %li
          Надоело сидеть на лекциях?
        %li
          Хотите больше практики?
        %li
          Хотите 150000 в месяц после университета?
    .text-center.promo-button
      %a.btn.btn-default.btn-lg.btn-student{href: signup_path}
        Найти стажировку

  .promo-block.promo.pull-left{:style => "margin-left:2%;background:#d9dde7"}
    %img.center-block.img-responsive.img-circle.promo-img{src: image_path("company-promo.png")}/
    %p.text-center.promo-text
      %strong
        Вы компания?
      %ul
        %li
          Надоели выпускники без опыта и знаний?
        %li
          Хотите мотивированного сотрудника?
        %li
          Не хотите платить 150000 в месяц?
    .text-center.promo-button
      %a.btn.btn-default.btn-lg.btn-company{href: signup_path}
        Добавить стажировку


  .clearfix