.col-xs-12.vacancies.margin-top20.margin-bottom20
	.about-title.margin-bottom20
		%center
			%h2
				О проекте
	.col-xs-12.margin-bottom30.margin-top20.text-about
		Портал hungrybrains.ru посвящен студентам и молодым специалистам, которые только начинают строить свою карьеру. Cотни компаний каждый день предлагают стажировки, временную подработку, вакансии, не требующие опыта работы. Предложения охватывают самые разные области деятельности. Клиенты hungrybrains.ru — западные и российские компании, которые заботятся о своем будущем и потому заинтересованы в привлечении и удержании лучших выпускников вузов.
	.col-xs-12.margin-bottom30.margin-top20
		%center
			%h2
				Наша команда
	.col-xs-3
		%img.logo.avatar-photo.evg-photo{ alt: "logo", src: image_path("photos/evgeniya.jpg")}
		%p.profile.evg
			Женя
			%p.profile.evg.role
				UI designer
	.col-xs-3
		%img.logo.avatar-photo{ alt: "logo", src: image_path("photos/kolya.jpg")}
		%p.profile{style: "margin-top: 27px;"}
			Коля
			%p.profile.role
				Backend
	.col-xs-3
		%img.logo.avatar-photo{ alt: "logo", src: image_path("photos/vanya.jpg")}
		%p.profile{style: "margin-top: 27px;"}
			Ваня
			%p.profile.role
				Frontend, backend
	.col-xs-3.avatar
		%img.logo.avatar-photo{ alt: "logo", src: image_path("photos/kostya.jpg")}
		%p.profile{style: "margin-top: 31px;"}
			Костя
			%p.profile.role
				Frontend
	.col-xs-12.address.margin-top20{style: "padding: 0"}
		.col-xs-8
			%p.margin-top20.role
				Москва, ул. Бауманская, д. 2
				%a.email{style: "padding-left: 20px"}
					hungrybrains@hungrybrains.ru

