= render 'promo'
.row.vacancies.margin-top20
  .col-md-9
    = render partial: 'vacancies/vacancy', collection: @vacancies
    - if @vacancies.count > 5
      .text-center.margin-top10
        = link_to vacancies_path, class: "show-more" do
          %ins Показать больше        
  .col-md-3.blank

.margin-bottom20