.row.vacancy
  .col-md-3.logo
  .col-md-8
    .row.title
      %p= raw link_to(profile.name, profile)
  .col-md-1.text-right
    %div
      = profile.vacancies.count
    %div
      = Russian::pluralize(profile.vacancies.count, "вакансия", "вакансии", "вакансий")
