%ul.promo-items.list-unstyled
  %li
    %p.text-center.auth-text Какой-то текст с картинками
  %li
    %p.text-center.auth-text Какой-то текст с картинками
  %li
    %p.text-center.auth-text Какой-то текст с картинками
  %li
    %p.text-center.auth-text Какой-то текст с картинками
