.col-md-10.col-md-offset-1.margin-top20
  .auth
    .auth-header
      .row
        .col-md-12
          .student.col-md-6.text-center.auth-tabs.auth-tabs-active
            Студент
          .company.col-md-6.text-center.auth-tabs
            Компания
    .auth-content.student
      .row
        .col-md-12
          .col-md-6
            = render 'form'
          .col-md-6
            .promo-items
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками

    .auth-content.company.hide
      .row
        .col-md-12
          .col-md-6
            = render 'form'
          .col-md-6
            .promo-items
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками
              %div
                %p.text-center.auth-text Какой-то текст с картинками

.clearfix