= form_for(current_user.student.responses.build(vacancy_id: @vacancy.id), remote: true) do |f|
  %div
    = f.hidden_field :vacancy_id
  %center
    = f.submit "Откликнуться", class: "btn btn-success btn-lg btn-company"
