.row.vacancy-row
  .inner
    .col-md-2.logo
      = image_tag vacancy.company.avatar.url(:thumb), :class => 'img-rounded'
    .col-md-9
      .row.title
        .col-md-12
          = vacancy_title(vacancy)
      .row.description
        .col-md-12
          = vacancy_description(vacancy)
    .col-md-1.text-right.worktype
      .row
        - if logged_in? and current_user.has_role? :company and current_user?(vacancy.company.user)
          = vacancy_responses(vacancy)
        - else
          .col-md-6.paid.icon
          .col-md-6.trainee.icon
