.row.vacancy-row
  .col-xs-2.logo
    = image_tag vacancy.company.avatar.url(:thumb), :class => 'img-rounded' if vacancy.company
  .col-xs-8
    .row.title
      .col-xs-12
        = vacancy_title(vacancy)
    .row.description
      .col-xs-12
        = vacancy_description(vacancy)
  .col-xs-2.text-right.worktype
    .row
      - if logged_in? and current_user.has_role? :company and current_user?(vacancy.company.user)
        .col-xs-12
          = vacancy_responses(vacancy)
      - else
        .col-xs-12
          %i.paid.icon
          %i.trainee.icon
