.row.vacancy-row
  .col-md-2.logo
    = image_tag vacancy.company.avatar.url(:thumb)
  .col-md-8
    .row.title
      %p= vacancy_title(vacancy)
    .row.description
      %p= vacancy_description(vacancy)
  .col-md-1.worktype
    .row
      - if logged_in? and current_user.has_role? :company and current_user?(vacancy.company.user)
        = vacancy_responses(vacancy)
      - else
        .col-md-6.paid.icon
        .col-md-6.trainee.icon
