.row.vacancies.margin-top20.margin-bottom20
  .col-xs-9
    .row.search
      .col-xs-6
        = vacancies_search_count(@vacancies)
      .col-xs-6
        %form{action: vacancies_path, method: 'get'}
          .input-group
            = text_field_tag(:search, params[:search], {class: "form-control", placeholder: "Введите ключевое слово"})
            %span.input-group-btn
              %button.btn.btn-default{type: "submit"}
                %span.glyphicon.glyphicon-search
    #vacancies
      = render 'vacancies'
  .col-xs-3
    - if logged_in? and current_user.has_role? :company
      %a.btn.btn-defauls.btn-lg.btn-company.margin-bottom20{ href: new_vacancy_path } Добавить стажировку
    - if @banners['vacancies_page'] && @banners['vacancies_page'].size > 0
      - @banners['vacancies_page'].each do |b|
        = simple_format(b.code)
