.row.vacancies.margin-top20  
  .col-md-9
    .search.row
      .col-md-6
        = [Russian::pluralize(@vacancies.count, "Найдена", "Найдено", "Найдено"),              |
           @vacancies.count,                                                                   |
           Russian::pluralize(@vacancies.count, "компания", "компании", "компаний")].join(" ") |
      .col-md-6
        .input-group
          %input.form-control{placeholder: "Введите ключевое слово"}
          %span.input-group-btn
            %button.btn.btn-default
              %span.glyphicon.glyphicon-search
    = render @vacancies.reverse_order
    / .text-center.margin-top10
    /   %a.show-more{href: "#"}
    /     %ins Показать больше
  .col-md-3
    = button_to "Добавить стажировку", new_vacancy_path, method: "get", class: "btn btn-default btn-lg btn-company"
    .blank

= will_paginate renderer: BootstrapPagination::Rails
