= will_paginate

.row.vacancies.margin-top20  
  .col-md-9
    .search.row
      .col-md-6
        = ["Найдено", @vacancies.count, "вакансии"].join(" ")
      .col-md-6
        .input-group
          %input.form-control{placeholder: "Введите ключевое слово"}
          %span.input-group-btn
            %button.btn.btn-default
              %span.glyphicon.glyphicon-search
    = render @vacancies    
    / .text-center.margin-top10
    /   %a.show-more{href: "#"}
    /     %ins Показать больше
  .col-md-3.blank

= will_paginate
