.row.vacancies.margin-top20  
  .col-md-9
    .search.row
      .col-md-6
        = vacancies_search_count(@vacancies)
      .col-md-6
        .input-group
          %input.form-control{placeholder: "Введите ключевое слово"}
          %span.input-group-btn
            %button.btn.btn-default
              %span.glyphicon.glyphicon-search
    = render @vacancies
    / .text-center.margin-top10
    /   %a.show-more{href: "#"}
    /     %ins Показать больше
  .col-md-3
    = button_to "Добавить стажировку", new_vacancy_path, method: "get", class: "btn btn-default btn-lg btn-company"
    .blank

= will_paginate renderer: BootstrapPagination::Rails
