= render 'responses_nav'
- if @responses.any?
  - @responses.each do |response|
    = render 'students/student', student: response.student, response: response
- else
  %strong
    Откликов на эту вакансию нет