.row.margin-top20  
  .col-md-9
    .title
      = [@vacancy.profile.user_id, @vacancy.profile.name, @vacancy.title].join(": ")
    = @vacancy.description  
  .col-md-3
    - if current_user?(@vacancy.profile.user)
      = button_to "Редактировать вакансию", edit_vacancy_path, method: "get", class: "btn btn-default btn-lg btn-company"
    .blank
