.row.margin-top20  
  .col-md-9
    .title
      = [@vacancy.company.user_id, @vacancy.company.name, @vacancy.title].join(": ")
    Откликов: 
    %strong#responses
      = @vacancy.responses.count
    %br
    = @vacancy.description  
  .col-md-3
    - if current_user?(@vacancy.company.user)
      %a.btn.btn-defauls.btn-lg.btn-company{ href: edit_vacancy_path(@vacancy) } Редактировать вакансию
    = render 'respond_form' if logged_in?
    .blank
