.col-xs-10.col-xs-offset-1.margin-top20
  .auth
    .auth-header
      .row
        .col-xs-12
          .student.col-xs-6.text-center.auth-tabs.auth-tabs-active
            Студент
          .company.col-xs-6.text-center.auth-tabs
            Компания
    .auth-content.student
      .row
        .col-xs-12
          .col-xs-6
            = render 'form_student'
          .col-xs-6
            = render 'shared/promo_student'

    .auth-content.company.hide
      .row
        .col-xs-12
          .col-xs-6
            = render 'form_company'
          .col-xs-6
            = render 'shared/promo_company'

.clearfix