#messages
  - flash.each do |level, message|
    .row.margin-top20{ :class => flash_class(level)}
      %button.close{:type => "button", :data => {:dismiss => 'alert'}}
        %span{:aria => {:hidden => 'true'}}
          &times;
        %span.sr-only
          Close
      %p= message
