- if current_user.has_role? :student
  %div{id: "follow_form_company#{company.id}"}
    - if current_user.student.following?(company)
      = render 'shared/unfollow', :company => company
    - else
      = render 'shared/follow', :company => company