= form_for(current_user.student.relationships.build(company_id: company.id), remote: true, html: { id: "follow_company#{company.id}" }) do |f|
  %div
    = f.hidden_field :company_id
  = f.submit "Подписаться", class: "btn btn-success btn-sm btn-company"
