/ row 4 footer
%footer.row.container-fluid
  .col-md-8.col-md-offset-1
    %nav.navbar
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} О сайте
        %li
          %a{:href => "#"} Контакты
        %li
          %a{:href => "#"} Обратная связь
  .col-md-3.social
    %a{:href => "#"}
      %img.vk/
    %a{:href => "#"}
      %img.facebook/
    %a{:href => "#"}
      %img.twitter/