/ row 4 footer
%footer.footer
  .container
    .row{:style => "margin-top:13px"}
      .col-md-10
        %ul.list-unslyled.list-inline
          %li
            %a.no-padding-left{:href => "#"} О сайте
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Обратная связь
      .col-md-2.social.text-right
        %a{:href => "#"}
          = image_tag 'vk-logo.png'
        %a.margin-left10{:href => "#"}
          = image_tag 'fb-logo.png'
        %a.margin-left10{:href => "#"}
          = image_tag 'tw-logo.png'