%footer.footer
  .container
    .row{:style => "margin-top:13px"}
      .col-xs-10
        %ul.list-unslyled.list-inline
          %li
            %a.no-padding-left{href: about_path} О сайте
          %li
            %a{href: contact_path} Контакты
          %li
            %a{href: feedback_path} Обратная связь
      .col-xs-2.social.text-right
        %a{:href => "#"}
          = image_tag 'vk-logo.png'
        %a.margin-left10{:href => "#"}
          = image_tag 'fb-logo.png'
        %a.margin-left10{:href => "#"}
          = image_tag 'tw-logo.png'