/ row 4 footer
%footer.row
  .col-lg-10
    %nav.navbar
      %ul.nav.navbar-nav
        %li
          %a{href: "#"} О сайте
        %li
          %a{href: "#"} Контакты
        %li
          %a{href: "#"} Обратная связь
  .col-lg-2.social
    %a.vk{href: "#"}
    %a.facebook{href: "#"}
    %a.twitter{href: "#"}