/ row 1 header
%header.row
  .col-md-1
    %a{href: root_path}
      %img.img-responsive.logo{alt: "logo", src: image_path("logo.png")}
  .col-md-5
    %nav.row
      %ul.nav.navbar-nav
        %li
          %a{href: jobs_path} Стажировки
        %li
          %a{href: companies_path} Компании
        %li
          %a{href: info_index_path} Знания
  .col-md-3.col-md-offset-3.text-right
    %ol.breadcrumb
      %li
        %a.signin{href: auth_login_path } Вход
      %li
        %a.signup{href: auth_sign_up_path } Регистрация