%header.row
  .col-md-1
    %a{href: root_path}
      %img.img-responsive.logo{alt: "logo", src: image_path("logo.png")}
  .col-md-5
    %nav.row
      %ul.nav.navbar-nav
        %li
          %a{href: vacancies_path} Стажировки
        %li
          %a{href: profiles_path} Компании
        %li
          %a{href: info_index_path} Знания
  .col-md-4.col-md-offset-2.text-right
    - if current_user 
      %ol.breadcrumb
        %li
          = current_user.email
        %li
          = link_to "Выход", signout_path, method: "delete", class: "signin"
    - else
      %ol.breadcrumb
        %li
          %a.signin{href: signin_path } Вход
        %li
          %a.signup{href: signup_path } Регистрация
