/ row 1 header
%header.row
  .col-lg-1
    %a{href: "index.html"}
      %img.img-responsive.logo{alt: "logo", src: image_path("logo.png")}
  .col-lg-5
    %nav.row
      %ul.nav.navbar-nav
        %li
          %a{href: "#"} Стажировки
        %li
          %a{href: "#"} Компании
        %li
          %a{href: "#"} Знания
  .col-lg-3.col-lg-offset-3
    %ol.breadcrumb
      %li
        %a.signin{href: "#"} Вход
      %li
        %a.signup{href: "#"} Регистрация