.text-center
  %img.center-block.img-responsive.img-circle.promo-img{src: image_path("student-promo.png")}

.margin-top10.margin-bottom10.text-center.bold
  %p
    Зачем Вам Hungry Brains?

.col-xs-9.col-xs-offset-2
  .col-xs-12
    %ul
      %li
        %p
          Ведущие компании в индустрии
      %li
        %p
          Уникальные вакансии
      %li
        %p
          Интересные мероприятия
