.text-centered
  %img.center-block.img-responsive.img-circle.promo-img{src: image_path("company-promo.png")}

.col-md-8.col-md-offset-3
  .row.margin-top20
    %ul.list-unstyled
      %li
        %p
          – Резюме более 10000 студентов
      %li
        %p
          – 20000 посетителей ежедневно
      %li
        %p
          – Удобный интерфейс для тестирования
