.text-centered
  %img.center-block.img-responsive.img-circle.promo-img{src: image_path("company-promo.png")}

.col-xs-8.col-xs-offset-3
  .row.margin-top20
    %strong
      Зачем Вашей компании Hungry Brains?
    %ul.list-unstyled
      %li
        %p
          – Студенты лучших ВУЗов страны
      %li
        %p
          – Бесплатное размещение вакансий
      %li
        %p
          – Удобный интерфейс обработки откликов
