.text-centered
  %img.center-block.img-responsive.img-circle.promo-img{src: image_path("company-promo.png")}

.margin-top10.margin-bottom10.text-center.bold
  %p
    Зачем Вашей компании Hungry Brains?

.col-xs-10.col-xs-offset-1
  .col-xs-12
    %ul
      %li
        %p
          Студенты лучших ВУЗов страны
      %li
        %p
          Бесплатное размещение вакансий
      %li
        %p
          Удобный интерфейс обработки откликов
