.text-centered
  %img.center-block.img-responsive.img-circle.promo-img{src: image_path("student-promo.png")}

.col-xs-8.col-xs-offset-3
  .row.margin-top20
    %strong
      Зачем Вам Hungry Brains?
    %ul.list-unstyled
      %li
        %p
          – Ведущие компании в индустрии
      %li
        %p
          – Уникальные вакансии
      %li
        %p
          – Интересные мероприятия
