.text-centered
  %img.center-block.img-responsive.img-circle.promo-img{src: image_path("student-promo.png")}

.col-xs-8.col-xs-offset-3
  .row.margin-top20
    %ul.list-unstyled
      %li
        %p
          – Стажировки от ведущих компаний
      %li
        %p
          – Быстрые отклики
      %li
        %p
          – Помощь в трудоустройстве
