.row.margin-top20
  .col-xs-3
    = render 'menu'
  .col-xs-9
    .white-inner
      %h4.text-center.htitle
        Управление откликами
      .white-inner-content
        = render partial: 'vacancies/vacancy', collection: @vacancies