/ row 2 promo
.row.row-promo
  .col-lg-5.promo
    %img.center-block.img-responsive.img-circle.promo-img{src: image_path("student-promo.png")}
    %p.text-center.promo-text
      Вы студент? Hungry Brains поможет Вам найти стажировку прямо сейчас!
      Просто кликните бла бла бла бла бла. Опыт работа любимая жена связи.
    .btn-wrapper
      %button.btn.btn-default.btn-lg.btn-student{type: "button"}
        Найти стажировку
  .col-lg-5.col-lg-offset-2.promo
    %img.center-block.img-responsive.img-circle.promo-img{src: image_path("company-promo.png")}/
    %p.text-center.promo-text
      Вы компания? Hungry Brains поможет Вам найти стажировку прямо сейчас!
      Бла бла бла бла бла.
    .btn-wrapper
      %button.btn.btn-default.btn-lg.btn-company{type: "button"}
        Добавить стажировку