.container
  = render 'shared/header'
  = render 'promo'
  / row 3 vacancies
  .row.vacancies
    .col-lg-9
      .row.vacancy
        .col-lg-3.logo
        .col-lg-8
          .row.title
            %p Booking.com: разносчик кофе
          .row.description
            %p Описание: расторопность, улыбчивость, владение кофемашинкой кофемашинкой кофемашинкой
        .col-lg-1.worktype
          .row
            .col-lg-6.paid.icon
            .col-lg-6.trainee.icon
      %hr/
      .row.vacancy
        .col-lg-3.logo
        .col-lg-8
          .row.title
            %p Booking.com: разносчик кофе
          .row.description
            %p Описание: расторопность, улыбчивость, владение кофемашинкой кофемашинкой кофемашинкой
        .col-lg-1.worktype
          .row
            .col-lg-6.paid.icon
            .col-lg-6.trainee.icon
      %hr/
      .row.vacancy
        .col-lg-3.logo
        .col-lg-8
          .row.title
            %p Booking.com: разносчик кофе
          .row.description
            %p Описание: расторопность, улыбчивость, владение кофемашинкой кофемашинкой кофемашинкой
        .col-lg-1.worktype
          .row
            .col-lg-6.non-paid.icon
            .col-lg-6.trainee.icon
      %hr/
      .row.vacancy
        .col-lg-3.logo
        .col-lg-8
          .row.title
            %p Booking.com: разносчик кофе
          .row.description
            %p Описание: расторопность, улыбчивость, владение кофемашинкой кофемашинкой кофемашинкой
        .col-lg-1.worktype
          .row
            .col-lg-6.paid.icon
            .col-lg-6.trainee.icon
      %hr/
      .text-center
        %a.show-more{href: "#"}
          %ins Показать больше
    .col-lg-3.blank
  = render 'shared/footer'