.row.vacancy
  .col-md-3.logo
  .col-md-8
    .row.title
      %p= raw link_to(company.name, company)
  .col-md-1.text-right
    %div
      = company.vacancies.count
    %div
      = Russian::pluralize(company.vacancies.count, "вакансия", "вакансии", "вакансий")
