= form_for(current_user.student.relationships.find_by(company_id: @company.id), |
           html: { method: :delete }, remote: true) do |f|                      |
  = f.submit "Отписаться", class: "btn btn-danger btn-lg btn-company"
