.row.vacancies.margin-top20  
  .col-md-9
    .search.row
      .col-md-6
        = company_count_russian(@companies.count)
      .col-md-6
        - form_tag(companies_path, method: "get")
        %form{action: companies_path, method: 'get'}
          .input-group
            = text_field_tag(:search, params[:search], {class: "form-control", placeholder: "Введите ключевое слово"})
            %span.input-group-btn
              %button.btn.btn-default{type: "submit"}
                %span.glyphicon.glyphicon-search
    #companies
      = render 'companies'
  .col-md-3
    .blank
