.row.margin-top20
  .col-xs-3
    = render 'menu'
  .col-xs-9
    .white-inner
      %h4.text-center
        - if @responses.any?
          = student_responses_count(@responses)
        - else
          Вы не откликнулись ни на одну вакансию

      .white-inner-content
        = render partial: 'response', collection: @responses
