/* header */
header {
	margin-top: 1em;
}

header .nav {
	font-size: 1.5em;
}

header .nav > li > a {
  padding: 10px 30px;
  color: #47423b;
}

.breadcrumb {
	background-color: #fff;
	font-size: 1.6em;
}

.breadcrumb > li + li:before {
  content: "|\00a0";
}

.signin {
	color: #a7a9ac;
}

.signup {
	color: #82bf90;
}

/* footer */

footer {
	background-color: #82bf90;
	height: 100%;
}

footer.row {
	margin-top: 20px;
}

footer .nav {
	font-size: 1.2em;
}

footer .nav > li > a {
  padding: 10px 30px;
  color: #fff;
}

footer .social {
	display: block;
	float: right;
}

.social .vk {
	background: image_url('vk-logo.png') no-repeat;
	width: 23px;
	height: 51px;
    margin-left: 10px;
}

.social .facebook {
	background: image_url('fb-logo.png') no-repeat;
	width: 14px;
	height: 51px;
    margin-left: 10px;
}

.social .twitter {
	background: image_url('tw-logo.png') no-repeat;
	width: 30px;
	height: 24px;
    margin-left: 10px;
}

/* promo */ 

.row-promo {
	margin-top: 20px;
}

.promo {
	background-color: #f2f3f1;
	border-radius: 1em;
	padding: 10px;
	min-height: 300px;
	font-size: 1.3em;	
}

.promo-img {
	height: 25%;
	width: 25%;
}

.promo-text {
	margin: 10px;
}

.btn-wrapper {	
	position: absolute;
	bottom: 20px;
	left: 30%;
}

.btn-student {
  color: #82bf90;
  background-color: #f2f3f1;
  border-color: #82bf90;  
}

.btn-company {
  color: #6786c3;
  background-color: #f2f3f1;
  border-color: #6786c3;	
}

/* vacancies */ 

.vacancies {
	margin-top: 20px;
}

.vacancy {
	margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.vacancy .logo {
	background: image_url('booking-logo.png') no-repeat;
	width: 53px;
	height: 53px;
	margin: 10px;
	overflow: hidden;
}

.vacancy .title {
	margin-top: 5px;
	font-size: 1.3em;
}

.vacancy .description {
	font-size: 1em;
	margin-top: -0.8em;
}

.worktype {
  position: absolute;
  right: 20px;
}

.worktype .trainee {
	background: image_url('trainee.png') no-repeat;
	width: 24px;
	height: 24px;
}

.worktype .paid {
	background: image_url('paid.png') no-repeat;
	width: 23px;
	height: 23px;
}

.blank {
	background: image_url('blank.png') no-repeat;
	width: 280px;
	height: 402px;
}

.show-more {
	color: #a7a9ac;
	font-size: 1.2em;
}

/* auth */

.row-auth {
  margin-top: 20px;
}

.auth {
  background-color: #f2f3f1;
  padding: 10px;
  font-size: 1.3em;
}

.auth-header {
  font-size: 1.5em;
}

.auth-header .student {
  color: #82bf90;
  border-radius: 0.5em 0.5em 0 0;
}

.auth-header .company {
  color: #6786c3;
  border-radius: 0.5em 0.5em 0 0.5em;
}

.auth-content {
  border-radius: 0 0 0 0.5em;
}

.auth-promo {
  border-radius: 0 0 0.5em 0;
}

.row-auth .company {
  background-color: #d9dde7;
}

/*
.row-auth .student {
  background-color: #d9dde7;
}
*/

.auth-content .form-wrapper {
  padding-left: 20px;
  color: #858789;
}

.form-wrapper .form-control {
  font-style: italic;
  margin-top: 20px;
}

.auth-content, .auth-promo {
  min-height: 300px;
}

.auth-promo {
  display: table;
}

.promo-items {
  display: table-cell;
  vertical-align: middle;
}

.promo-items .auth-text {
  font-size: 21px;
}

.auth .vk {
  background: image_url('vk-auth.png') no-repeat;
  width: 41px;
  height: 46px;
  margin-left: 10px;
}
.auth .facebook {
  background: image_url('fb-auth.png') no-repeat;
  width: 41px;
  height: 48px;
  margin-left: 10px;
}
.auth .twitter {
  background: image_url('tw-auth.png') no-repeat;
  width: 41px;
  height: 41px;
  margin-left: 10px;
}



