@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  border-radius: $radius !important;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

/* header */
header {
  position: relative;
  background: #616a6a;
}

header:before, header:after {
  content: "";
  position: absolute;
  background: #616a6a; 
  top: 0;
  bottom: 0;
  width: 9999px;
  height: 86px;
}

header:before {
  right: 100%;
}

header:after {
  left: 100%;
}


header .nav {
	font-size: 1.4em;
  margin: 23px 0px;
}

header .nav > li > a {
  padding: 10px 30px;
  color: #ffffff;
}
header .nav > li > a:hover {
  background-color: #616a6a;
  color: #dbe2e3;
}

.breadcrumb {
	background-color: #fff;
	font-size: 1.4em;
  margin-top:15px;
}

.header__rightblock {
  margin: 25px 15px 24px 0px;
}
.btn:focus {
  color: #DBE2E3;
  outline: none;
}
.btn-signedin {
  font-size: 16px;
}
.btn-signin {
  color: #fff;
  background-color: #616a6a;
  border-color: transparent;
}
.btn-signin:hover {
  background-color: #616a6a;
  border-color: transparent;
  color: #dbe2e3;
}
.btn-name {
  font-size: 16px
}
.btn-signin:active {
  box-shadow: none;
  border-color: transparent;
}

.btn-registration {
  background-color: #5fb989;
}
.btn-registration:hover {
  background-color: #5fb989;
}

.breadcrumb > li + li:before {
  content: "|\00a0";
}

.signin {
	color: #a7a9ac;
}

.signup {
	color: #27AE60;
}

/* footer */

footer {
	background-color: #5fb989;
	height: 100%;
}

//footer.footer {
//	margin-top: 20px;
//}

.footer {
	font-size: 1.1em;
}

footer ul > li > a {
  padding: 10px 30px;
  color: #fff;
}

footer ul > li > a:hover {
  color: #fff;
}

footer .social {
	display: block;
	float: right;
}

.social .vk {
	background: image_url('vk-logo.png') no-repeat;
	width: 23px;
	height: 51px;
    margin-left: 10px;
}

.social .facebook {
	background: image_url('fb-logo.png') no-repeat;
	width: 14px;
	height: 51px;
    margin-left: 10px;
}

.social .twitter {
	background: image_url('tw-logo.png') no-repeat;
	width: 30px;
	height: 24px;
    margin-left: 10px;
}

/* promo */ 

.row-promo {
	margin-top: 20px;
}

.promo {
	background-color: #f2f3f1;
	border-radius: 1em;
	padding: 10px;
	min-height: 300px;
	font-size: 1.1em;
    height:100%;
}

.promo-img {

}

.promo-text {
	margin: 10px;
}

.promo-block {
  width: 48%;
  background-color: #f2f3f1;
  position: relative;
}

.promo-button {
  position: absolute;
  left:31%;
  bottom: 20px;
}

.btn-wrapper {	
	position: absolute;
	bottom: 20px;
	left: 30%;
}

.btn-student {
  color: #27AE60;
  background: transparent;
  border-color: #27AE60;
}

.btn-company {
  color: #6786c3;
  background: transparent;
  border-color: #6786c3;	
}

/* vacancies */ 

.vacancies {
	margin-top: 20px;
}

.vacancy-row, .company-row {
	margin-top: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
}

.last-row{
  border-bottom: none !important;
}

.last-vacancy-row, .last-company-row {
  border-bottom: none !important;
}

.vacancy-row .logo, .company-row .logo {
	margin: 10px;
	overflow: hidden;
}

.vacancy-row .title, .company-row .title {
	margin-top: 5px;
	font-size: 1.3em;
}

.vacancy-row .description, .company-row .description {
	font-size: 1em;
	margin-top: -0.8em;
}

.worktype {
  position: absolute;
  right: 20px;
}

.worktype .trainee {
	background: image_url('trainee.png') no-repeat;
	width: 24px;
	height: 24px;
}

.worktype .paid {
	background: image_url('paid.png') no-repeat;
	width: 23px;
	height: 23px;
}

.blank {
	background: image_url('blank.png') no-repeat;
	width: 280px;
	height: 402px;
}

.show-more {
	color: #a7a9ac;
	font-size: 1.2em;
}

.search {
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
}

/* auth */

.auth {
  background-color: #f2f3f1;
  @include border-radius(0.5em);
}

.auth-tabs {
  padding: 10px;
  cursor: pointer;
}

.auth-tabs-active {
  background-color: #f2f3f1 !important;
}

.auth-header {
  font-size: 1.3em;
}

.auth-header .student {
  background-color: #d8e2dd;
  color: #27AE60;
  border-radius: 0.5em 0 0 0;
}

.auth-header .company {
  background-color: #d9dde7;
  color: #6786c3;
  border-radius: 0 0.5em 0 0;
}

.auth-content {
  padding-top:20px;
  padding-bottom:20px;
}

.auth-promo {

}

.auth-content .form-wrapper {
  padding-left: 20px;
  color: #858789;
}

.form-wrapper .form-control {
  font-style: italic;
  margin-top: 20px;
}

.auth-content, .auth-promo {
  //min-height: 300px;
}

.auth-promo {
  display: table;
}

.promo-items {
  display: table-cell;
  vertical-align: middle;
}

.promo-items .auth-text {

}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -51px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 51px; /* .push must be the same height as .footer */
}


/* tmp */

.breadcrumb.profile > li + li:before {
  content: "\2022\00a0";
}


